<footer>
<div class="card-footer text-muted text-center">
      <p><%= current_year %>, Ivan B.</p>
      <p><%= t('.app_name') %> - <%= github_url("ivanprofpv", "test-guru") %></p>
      <p><%= t('.app_name_school') %> <%= link_to 'Thinknetica', 'http://thinknetica.com/' %>
      <p><%= link_to t('.feedback'), new_feedback_path %></p>
  </div>
</footer>
